:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */

  --color-main: #ffe9d0;
  --color-card: #fffed3;
  --color-button-1: #bbe9ff;
  --color-button-2: #b1afff;
  --shadow-1: 0 1px 6rem rgba(black, 0.2);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1.5;
  font-weight: 400;
}

input,
button,
textarea,
select {
  font: inherit;
}
